<ion-view title="Account">
    <ion-content padding="true" class="has-header">
        <!--<form class="list">-->
        <!--<ion-toggle toggle-class="toggle-balanced" ng-checked="true">Enable Push notification</ion-toggle>-->
        <!--</form>-->
        <br>
        <a ng-click="logoutUser()" class="button button-positive button-block" style="padding:5px" >Logout</a>
    </ion-content>
</ion-view>