<ion-view title="Dashboard">
  <ion-nav-buttons side="left">

    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

  </ion-nav-buttons>
    <ion-content padding="" class="has-header" >
        <div class="title  padding-top">
            <h2>Welcome to On Dot Freight, {{userMeta.name}}</h2>
        </div>
        <div class="list card no-margin no-padding" >
          <div class="item item-divider no-padding" style="font-size: 18px;color:#4f666c; background-color: transparent">Upcoming arrivals</div>
            <div class="item item-body no-padding">
                <ion-list>
                    <ion-item ng-repeat="shipment in shipments.arrival"  >
                        <a href="#/app/shipment/detail?shipmentId={{shipment.shipment_id}}">
                          <div class="row white_box_dashboard">
                            <div class="col col-10" style="min-width: 50px;">
                            <i ng-if="shipment.shipment_category =='land' " class="fa fa-truck icons icons-home"></i>
                            <i ng-if="shipment.shipment_category =='air' " class="fa fa-plane icons icons-home"></i>
                            <i ng-if="shipment.shipment_category =='sea' " class="fa fa-ship icons icons-home"></i>
                          </div >
                          <div class="col col-80">
                                <h4>{{ shipment.shipment_id }} - {{shipment.name }} :
                                  <b ng-if="shipment.shipment_status == 'transit' ">In Transit</b>
                                  <b ng-if="shipment.shipment_status == 'arrived' ">Arrived</b>
                                </h4>
                          </div>
                          </div>
                        </a>
                    </ion-item>
                </ion-list>
                <div ng-if="shipments.arrival.length==0">
                    <ion-list>
                        <ion-item >
                            <div class="white_box_dashboard">
                                No Upcoming arrivals found.
                            </div>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
        </div>
      <div class="padding">
        <div class="row">
            <a class="button button-positive button-block col btm"  href="#/app/requestQuote">Request Quote</a>
        </div>
        <div class="row">
            <a class="button button-positive button-block col btm" ng-click="requestCallFromUs()">Request
                Call</a>
        </div>
        <div class="row">
            <a class="button button-positive button-block col btm" href="#/app/requestSpecial">Special Requests</a>
        </div>
        </div>
    </ion-content>
</ion-view>
