<ion-view view-title="Forgot Password">
    <ion-content padding="true" class="has-header">
          <div style="line-height: 20px; text-align: center; width: 100%;  background-color: rgb(255, 255, 255);margin-top:10px;">
                <p><h3>Please Enter the registered email to receive reset instructions</h3></p>
            </div>
           <ion-list>
            <label class="item item-input">
                <span class="login-lable input-label">
                    <i class="icon ion-email"></i>
                </span>
                <input type="email" placeholder="Enter Registered email" ng-model="auth.email">
            </label>
        </ion-list>
        <!-- <div class="spacer" style="height: 40px; color: red;">{{errmsg.message }}</div> -->
        <div ng-if="errmsg.message != null"><span class="button button-outline button-assertive button-block " style="font-size: 10px">{{errmsg.message }}</span></div>
        <!-- <div ng-if="errmsg.message = null"></div> -->
        <a class="button button-positive button-block " ng-click="resetPassword()">Reset Password</a>
        <a href="#/app/login" class="button button-positive button-clear button-block text-right black_txt14" >Go Back to Login</a>

    </ion-content>
</ion-view>