<ion-view title="Login">
    <ion-content padding="true" class="has-header">
        <form class="list" style="width: 100%;margin:auto;">
            <div style="line-height: 20px; text-align: center; width: 100%; height: 50%; background-color: rgb(255, 255, 255);margin-top:10px;">
                <img src="img/logo.png" style="max-height: 200px ; margin-top: 5px;"/>
                <p><h3>Welcome to On Dot Freight</h3></p>
            </div>
            <ion-list>
                <label class="item item-input">
                    <span class="login-lable input-label">
                        <i class="icon ion-email"></i>
                    </span>
                    <input type="email" placeholder="Enter Registered email" ng-model="auth.email">
                </label>
                <label class="item item-input">
                    <span class="login-lable input-label">
                        <i class="icon ion-locked"></i>
                    </span>
                    <input type="password" placeholder="Enter Password" ng-model="auth.password">
                </label>
            </ion-list>
            <!-- <div class="spacer" style="height: 40px; color: red;">{{errmsg.message }}</div> -->
            <div ng-if="errmsg.message != null"><span class="button button-outline button-assertive button-block" style="font-size: 10px">{{errmsg.message }}</span></div>
            <!-- <div ng-if="errmsg.message = null"></div> -->
            <a class="button button-positive button-clear button-block text-right black_txt14" style="color: #000;" href="#/app/forgot">Forgot Password</a>
            <a class="button button-positive button-block" ng-click="signIn()">Log in</a>

        </form>
    </ion-content>
</ion-view>