<ion-side-menus ng-controller="AppController">

  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button class="button-icon ion-arrow-left-c">
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()">
      </button>
    </ion-nav-buttons>
    <ion-nav-view name="appContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-assertive">
      <h2 class="title">On Dot Freight</h2>

    </ion-header-bar>
    <div class="list has-header" ng-if="userMeta.loggedIn">
    <div class="item item-avatar">
      <h2>{{ userMeta.name}}</h2>

      <p>{{date |date:'dd MMM yyyy'}}</p>
    </div>

     <div class="item tabs-background-assertive" ng-click="logout()">
       Logout
     </div>
      </div>
  </ion-side-menu>
</ion-side-menus>
