<ion-view title="Request Appointment">
  <ion-content padding="true" class="has-header" overflow-scroll=”true”>
    <br>

      <div class="call_heading_gray_box">
        <div class="call_heading_head">
          <h3>Appointment Date</h3>
        </div>
      </div>
          <onezone-datepicker datepicker-object="onezoneDatepicker">
        <button class="button button-block button-outline button-positive show-onezone-datepicker">
          {{onezoneDatepicker.date | date:'dd MMMM yyyy'}}
        </button>
      </onezone-datepicker>

      <div ng-if="errmsg.message" class="spacer" style="height: 40px; color: red;">{{errmsg.message }}</div>
      <div class="black_btn_area" style="margin:0px;">
        <a href="#" class="button button-positive button-block col btm"
           ng-click="requestAppointment()">Request Appointment</a>
      </div>

  </ion-content>
</ion-view>