<ion-view title="Request Quote">
  <ion-content padding="true" class="has-header no-padding" >
          <div class="">
            <div class="call_heading_head">
              <h3>Mode</h3>
            </div>
            <form class="list">
                <select ng-model="quote.mode">
                  <option value="air" selected>Air Freights</option>
                  <option value="land">Land Freights</option>
                  <option value="sea">Sea/Ocean Freights</option>
                </select>
            </form>
          </div>
          <div class="">
            <div class="call_heading_head">
              <h3>Terms</h3>
            </div>
            <form class="list">
              <div class="call_heading_body">
                <ion-radio ng-model="quote.terms" ng-value="'ex_works'">Ex Works</ion-radio>
                <ion-radio ng-model="quote.terms" ng-value="'fob'">Freight on Board (FOB)</ion-radio>
                <ion-radio ng-model="quote.terms" ng-value="'cdp'">Clearance Delivered At Place</ion-radio>
                <ion-radio ng-model="quote.terms" ng-value="'fca'">Freight Cargo Alongside (FCA)</ion-radio>
                <ion-radio ng-model="quote.terms" ng-value="'others'">Others</ion-radio>
                <label class="item" ng-if="quote.terms == 'others'">
                  <div>
                    <textarea style="width:100%" placeholder="Describe here" rows="4"
                              ng-model="quote.termsother"> </textarea>
                  </div>
                </label>
              </div>
            </form>
          </div>
          <div class="">
            <div class="call_heading_head">
              <h3>item descriptions</h3>
            </div>
            <form class="list">
              <div class="call_heading_body">
                <textarea class="item-input" style="width:100%;color: gray" rows="5"
                          placeholder="Please describe the shipment here"
                          ng-model="quote.description"> </textarea>
              </div>
            </form>
          </div>
          <div class="">
            <div class="call_heading_head">
              <h3>Volume</h3>
            </div>
            <form class="list">
              <div class="call_heading_body">
                <textarea class="item-input" style="width:100%" rows="5"
                          placeholder="Please Enter Dimensions, quantity and weight or container Type"
                          ng-model="quote.volume"> </textarea>
              </div>
            </form>
          </div>
          <div class="">
            <div class="call_heading_head">
              <h3>Pickup Location</h3>
            </div>
            <form class="list">
              <div class="call_heading_body">

                <textarea type="text" class="item-input" placeholder="Enter Pickup Location here" ng-model="quote.pickup_location" style="width:100%"></textarea>
              </div>


            </form>
          </div>
          <div class="">
            <div class="call_heading_head">
              <h3>Port of Discharge</h3>
            </div>
            <form class="list">
              <div class="call_heading_body">

                <textarea type="text" class="item-input" placeholder="Enter Port of Discharge here" ng-model="quote.port_of_discharge"
                       style="width:100%"></textarea>
              </div>

            </form>
          </div>


      <div class="row">
            <a class="button button-positive button-block col btm" ng-click="requestQuote()">Request Quote</a>
        </div>


  </ion-content>
</ion-view>