<ion-view title="Shipments">
  <ion-nav-buttons side="left">

    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

  </ion-nav-buttons>
  <ion-content padding="" class="has-header">
    <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()">
    </ion-refresher>
    <div class="shipments_main_area">

      <ion-list>
        <div ng-show="shipments.list.length > 0">
          <ion-item class="item " ng-repeat="shipment in shipments.list" ng-click="details(shipment)">
            <div class="call_shipments_area">
              <div class="shipments_head_area">
                <div class="row">
                  <div class="shipments_head_code col"><span style="float:left;">{{shipment.job_id }}<br>
                    <span style="color:#416429; font-size:16px">
                      <b ng-if="shipment.shipment_status == 'transit' ">In Transit</b>
                      <b ng-if="shipment.shipment_status == 'arrived' ">Arrived</b>
                      <b ng-if="shipment.shipment_status == 'opened' ">Opened</b>
                      <b ng-if="shipment.shipment_status == 'processing' ">Processing</b>
                      <b ng-if="shipment.shipment_status == 'under_clearance' ">Under Clearance</b>
                      <b ng-if="shipment.shipment_status == 'completed' ">Completed</b>
                    </span>
                  </span>
                  <span style="float:right;">
                    <div class="shipments_flight_code" ng-if="shipment._cls_ =='air_shipment' "><i
                        class="fa fa-plane green_circle "></i>
                    </div>

                    <div class="shipments_flight_code" ng-if="shipment._cls_ =='sea_shipment' "><i
                        class="fa fa-ship green_circle "></i>
                    </div>

                  </span>
                  </div>
                </div>
              </div>

              <div class="clearfix"></div>

              <div class="shipments_body_area">
                <div class="row">
                  <div class="col col-100">
                    <div class="shipment_details_text">
                      Description
                      <div>{{shipment.name}}</div>
                    </div>
                    <!--<div class="shipment_details_text">-->
                    <!--Customer Ref #-->
                    <!--<div>{{shipment.customer_reference_id}}</div>-->
                    <!--</div>-->
                  </div>
                </div>
                <div class="row">
                  <div class="col col-50">
                    <div class="shipment_details_text">
                      <div><span class="cst">ETA</span>
                        <b ng-if='shipment.eta'>{{shipment.eta | date:'dd MMM yyyy'}}</b>
                        <b ng-if='!shipment.eta'>Not Known</b>
                      </div>
                    </div>
                  </div>
                  <div class="col col-50">
                    <div class="shipment_details_text">
                      <div>
                        <span class="cst">ETD</span>
                        <b ng-if='shipment.etd'>{{ shipment.etd | date:'dd MMM yyyy'}}</b>
                        <b ng-if='!shipment.etd'>Not Known</b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </ion-item>
        </div>
        <div ng-show="shipments.list.length == 0">
          <ion-item>

            <div>
              No shipments found.
            </div>

          </ion-item>
        </div>

      </ion-list>
    </div>
  </ion-content>
</ion-view>
