<ion-view title="Shipment Details">
  <ion-content padding="" class="has-header animated fadeIn">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <div class="shipments_main_area">
      <div class="call_shipments_area">
        <div class="shipments_head_area">
          <div class="row">
            <div class="col col-100">
              <div class="shipments_head_code">{{ shipment.job_id}}</div>
              <div class="shipments_head_status">{{shipment.shipment_status }}</div>

            </div>
          </div>
          <div class="shipments_body_area " style="padding-left: 5px;">
            <div class="row">
              <div class="col col-100" ng-if="shipment.description">
                <div class="shipment_details_text">
                  Description
                  <div>{{ shipment.description }}</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col-50" ng-if="shipment.category">

                <div class="shipment_details_text">
                  Shipment Category
                  <div>{{shipment.category | capitalize}}</div>
                </div>
              </div>
              <div class="col col-50" ng-if="shipment.shipper_name">

                <div class="shipment_details_text">
                  Shipper Name
                  <div>{{shipment.shipper_name | capitalize}}</div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col col-100" ng-if="shipment.shipment_term_name">
                <div class="shipment_details_text">
                  Shipment Terms
                  <div>{{shipment.shipment_term_name}}</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col-50" ng-if="shipment.eta">
                <div class="shipment_details_text">
                  ETA
                  <div>{{shipment.eta | date:'dd MMM yyyy'}}</div>
                </div>
              </div>
              <div class="col col-50" ng-if="shipment.etd ">

                <div class="shipment_details_text">
                  EDT
                  <div>{{shipment.etd | date:'dd MMM yyyy'}}</div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col col-50" ng-if="shipment.pickup_location">
                <div class="shipment_details_text">
                  Pickup Location
                  <div>{{shipment.pickup_location}}</div>
                </div>
              </div>
              <div class="col col-50" ng-if="shipment.delivery_place">

                <div class="shipment_details_text">
                  Drop Location
                  <div>{{shipment.delivery_place}}</div>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col col-100" ng-if="shipment.pickup_date">
                <div class="shipment_details_text">
                  Pickup Date
                  <div>{{shipment.pickup_date | date:'dd MMM yyyy'}}</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col-50" ng-if="shipment.pol">
                <div class="shipment_details_text">
                  Point of Loading
                  <div>{{ shipment.pol}}</div>
                </div>
              </div>
              <div class="col col-50" ng-if="shipment.pod">

                <div class="shipment_details_text">
                  Point of Discharge
                  <div>{{ shipment.pod}}</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col-50" ng-if="shipment.hbl_hawb">
                <div>
                  <div class="shipment_details_text">
                    HBL/HAWB
                    <div>{{ shipment.hbl_hawb}}</div>
                  </div>
                </div>
              </div>
              <div class="col col-50" ng-if="shipment.mbl_hawb">

                <div>
                  <div class="shipment_details_text">
                    MBL/AWB
                    <div>{{ shipment.hbl_hawb}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col-50" ng-if="shipment.airline_name">
                <div>
                  <div class="shipment_details_text">
                    Airline
                    <div>{{ shipment.airline_name}}</div>
                  </div>
                </div>
              </div>
              <div class="col col-50" ng-if="shipment.vessel_name">

                <div>
                  <div class="shipment_details_text">
                    Vessel
                    <div>{{ shipment.vessel_name}}</div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
      <div class="shipments_main_area"  ng-if="shipment.remark">
          <div class="shipment-remarks-head">Remarks</div>
          <div class="shipment-remarks-text">{{shipment.remark}}</div>
      </div>
      <div class="shipments_main_area" style="padding-left: 5px;">
        <div class="recent_update_text" ng-if="updates.length>0">
          <div class="timeline_head_code">Recent Updates</div>

          <div class="call_shipments_area padding-left timeline" ng-repeat="update in updates">
            <div class="date_round">{{update.month}} <span>{{update.day}}</span><span>{{update.year}}</span></div>
            <div class="shipments_body_area">
              <div class="row">
                <div class="col col-65">
                  <div class="recent_update_text">
                    <h3>{{ update.content }}</h3>
                    <h4>{{ update.time }}</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="black_btn_area" style="padding-right: 5px;padding-bottom: 5px;padding-top: 5px">
          <div class="button_black">
            <a class="button button-positive button-block" ng-click="requestInvoice()" href="#">Request invoice</a>
            <a class="button button-positive button-block" ng-click="requestAWBMBL()" href="#">Request AWB/MBL</a>
          </div>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
