<ion-view title="Special Requests">
  <ion-content padding="true" class="has-header animated fadeIn" overflow-scroll=”true”>
    <div class="clearfix"></div>
    <br>
    <!-- <div class="container">
        <div class="row">
            <div class="col col-100">
                <div class="wrapper_cont_area">
                    <h2>special request</h2>
                </div>
            </div>
        </div>
    </div> -->
    <div class="clearfix"></div>
    <div class="row">

      <a href="#/app/requestAppointment" class="button button-positive button-block col btm">Request Appointment</a>
    </div>
    <div class="row">
      <a ng-click="requestSOA()" href="#" class="button button-positive button-block col btm">Request SOA</a>
    </div>
    <div class="row">
      <a ng-click="requestStatusReport()" href="#" class="button button-positive button-block col btm">Request Status
        Report</a>
    </div>
  </ion-content>
</ion-view>