<ion-view title="Tabs">
    <ion-tabs class="tabs-stable tabs-icon-top">
        <ion-tab title="Dashboard" icon="ion-ios-speedometer" href="#/app/tab/dashboard">
            <ion-nav-view name="tab1" class="animated fadeIn"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Shipments" icon="ion-android-plane" href="#/app/tab/shipments">
            <ion-nav-view name="tab2"  class=" animated fadeIn"></ion-nav-view>
        </ion-tab>
        <!--<ion-tab title="Account" icon="ion-android-person" href="#/tab/account">-->
            <!--<ion-nav-view name="tab3"  class=" animated fadeIn"></ion-nav-view>-->
        <!--</ion-tab>-->
    </ion-tabs>
</ion-view>