<ion-view title="Request Appointment" class="thanks_area" >
    <ion-content padding="dalse" class="has-header animated fadeIn"  overflow-scroll=”true”>
        <div class="thanks_area">
            <h2>Thank You</h2>
            <p>{{ thankyou.message }}</p>
        </div>
    </ion-content>
</ion-view>