.button{
    text-transform: uppercase;
    font-weight: 500;
}



.list .input-label {
    padding: 0px;
    margin: 0px;
}

.list .input-label .icon {
    font-size: 25px;
}

.row {
    margin: 0px;
    padding: 0px;
}

input, .input-label {
    color: #959595
}

.form-control {
    color: #959595
}


header h1 {
    font-family: RobotoDraft,Roboto,"Helvetica Neue","Segoe UI",sans-serif;
}



.button {
    font-size: 18px;
}

select {
    width: 100%;
    max-width: 100%;
    min-height: 50px;
}





.list .item {
    padding-bottom: 5px;
    margin: 0;
    border-bottom:1px solid #dee1e4;
}


.shipments_head_area .shipments_head_code {
    font-size: 18px;
    margin: 0;
    padding-left: 5px;
    padding-top: 5px;
}

.shipments_head_area .shipments_flight_code {
    margin: 0;
    font-size: 14px;
}
.shipments_body_area .shipment_details_text {
    font-size: 14px;
    margin: 0px 0;
    overflow: hidden;
    white-space: nowrap;
}

.call_shipments_area {  padding:0; position:relative; margin-bottom: 5px;}
.call_shipments_area.padd_30{ padding-left:30px; padding-right:20px; }

.call_shipments_area.timeline {
    border: none;
    border-left:1px solid #dee1e4;
    margin-bottom:0;
}

.call_shipments_area.timeline .h4 {
   color: #dee1e4;
}
small {
    font-size: 12px;
}

hr {
    margin: 5px 0;
}

h1,h2,h3,h4,h5,div,span,input{
   font-family: RobotoDraft,Roboto,"Helvetica Neue","Segoe UI",sans-serif;
}

textarea:placeholder-shown{
   font-family: RobotoDraft,Roboto,"Helvetica Neue","Segoe UI",sans-serif;
}

textarea{
   font-family: RobotoDraft,Roboto,"Helvetica Neue","Segoe UI",sans-serif;
}


#update {
    font-family: RobotoDraft,Roboto,"Helvetica Neue","Segoe UI",sans-serif;
}

.card {
    padding: 0px 0px;
}

.container {
    width: 100%;
    padding: 0px 0;
}

.thanks_area {
    padding: 0px 0px;
}

.thanks_area p {
    color: #fff;
    font-family: RobotoDraft,Roboto,"Helvetica Neue","Segoe UI",sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: inherit;
}

.thanks_area h2 {
    font-size: 26px;
    font-weight: 500;

}

.form_field_area {
    margin: 5px 0px;
}

.form-group {
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.call_heading_gray_box {
    margin: 5px 0px;
}

.call_heading_body {
    padding: 5px;
}

.cst {
    color: #989898;
    padding-right: 10px;
    display: block;
}

.white_box_dashboard {
    background-color: #fff;
    margin: 0;
    padding: 0;
    min-height: inherit;
}

.white_box_dashboard i {
    font-size: 30px;
    color: #16a085;
}

.white_box_dashboard h4 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #000;
    /*text-transform: uppercase;*/
    display: inline;
    font-size: 16px;
    font-weight: normal;
}

.title {
    text-align: center;
}

.title h2 {
    margin-bottom: 0px;
}

.card, .list {
}

.icons {
    color: #16a085;
}

.icons-home {
    font-size: 60px;
}

.size-96 {
    font-size: 96px;
}

a {
    text-decoration: none;
}


.recent_update_text {
    padding-top: 14px;
}

.recent_update_text {
    width: 100%;
    padding-left: 4%;
}

.text-right {
    text-align: right;
}
.shipments_body_area .row{
    margin: 0;
    padding:0;
}
.shipments_body_area .recent_update_text h3 {
  font-size: 14px;
   margin: 3px;
}
.shipments_body_area .recent_update_text h4 {
  padding: 0;
  font-size: 11px;
  color: #4f666c;
        margin: 3px;

}

.timeline_head_code {
  font-size: 18px;
  color: #4f666c;
  margin-left: -20px;
    font-weight: 500;
    text-transform:uppercase;
}

@media screen and (max-width:767px)
{
	header h1 {
  font-size: 18px;
}
.wrapper_cont_area h2 {
  font-size: 16px;
}
.wrapper_cont_area p {
  font-size: 14px;
}

.shipments_head_area .shipments_head_code {
  font-size: 18px;
}


.shipments_head_area .shipments_flight_code {
  text-align: left;
}
.shipments_body_area .recent_update_text h4 {
  margin-top: 0;
}

.recent_update_text {
    width: 100%;
    padding-left: 6%;
}

}

.shipment-remarks-head{
  padding-top:30px;
  font-size:14px;
  text-transform: uppercase;
  color: #4f666c;
  font-weight: bold;
  margin-left:10px;
}
.shipment-remarks-text{
  font-size:14px;
  text-transform: uppercase;
  font-weight: bold;
  color: #65868c;
  margin-left:10px;


}
