
img {
  border: 0px;
}

.logo {
  margin: 70px 0;
  padding: 0px;
  text-align: center;
}

.logo img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.headbar {
  margin: 0px;
  padding: 10px 0;
  background: #16a085;
  min-height: 35px;
}

header {
  margin: 0px;
  padding: 10px 0;
  background: #000;
  height: 80px;
}

header h1 {
  margin: 0px;
  font-family: RobotoDraft, Roboto, "Helvetica Neue", "Segoe UI", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
}

.head_menu {
  position: absolute;
  z-index: 1;
  left: 10px;
  top: 10px;
}

.head_menu a {
  font-size: 30px;
  color: #16a085;
  text-decoration: none;
}

.head_menu a:hover {
  color: #fff;
}

.head_search {
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 10px;
}

.head_search a {
  font-size: 30px;
  color: #8c8c8c;
  text-decoration: none;
}

.head_search a:hover {
  color: #fff;
}

.head_search .form-control {
  border: 1px solid #dee1e4;
  border-radius: 0px;
  box-shadow: none;
  color: #959595;
  height: 34px;
  padding: 6px 12px;
}

.head_search .btn {
  padding: 6px 12px;
  font-size: 14px;
}

.wrapper_cont_area {
  margin: 15px 0;
  padding: 0px;
  text-align: center;
}

.wrapper_cont_area h2 {
  margin: 0 0 5px;
  font-family: RobotoDraft, Roboto, "Helvetica Neue", "Segoe UI", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  text-transform: capitalize;
}

.wrapper_cont_area p {
  margin: 0px;
  font-family: RobotoDraft, Roboto, "Helvetica Neue", "Segoe UI", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #959595;
}

.gray_bg_cont {
  background-color: #f3f3f3;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.white_box_dashboard {
}

.black_btn_area {
  margin: 40px 0;
  padding: 0px;
}

.button_black {
  margin-bottom: 20px;
}

.button_black:last-child {
  margin-bottom: 0px;
}

footer {
  margin: 0px;
  padding: 0px;
  background: #16a085;
  min-height: 120px;
}

.footer_step {
  margin: 20px 0;
  padding: 0px;
  text-align: center;
}

.footer_step i {
  font-size: 50px;
  color: #fff;
  opacity: 0.6;
}

.footer_step h4 {
  margin: 10px 0 0;
  font-family: RobotoDraft, Roboto, "Helvetica Neue", "Segoe UI", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

.black_txt14 {
  font-family: RobotoDraft, Roboto, "Helvetica Neue", "Segoe UI", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #000;
}

.black_txt14 a {
  text-decoration: none;
  font-family: RobotoDraft, Roboto, "Helvetica Neue", "Segoe UI", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #000;
}

.black_txt14 a:hover {
  text-decoration: underline;
}

.heading_gray_box {
  margin: 0px;
  padding: 0px;
}

.call_heading_gray_box {
  margin: 30px 0;
  padding: 0px;
  background: #fff;
  border: 1px solid #dee1e4;
}

.call_heading_head {
  padding: 20px;
  border-bottom: 1px solid #dee1e4;
}

.call_heading_head h3 {
  margin: 0px;
  font-family: RobotoDraft, Roboto, "Helvetica Neue", "Segoe UI", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #16a085;
  text-transform: uppercase;
}

.call_heading_body {
  background: #fff;
  padding: 20px;
}

.call_heading_body p {
  font-family: RobotoDraft, Roboto, "Helvetica Neue", "Segoe UI", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #959595;
}

ul.gray_txt16 {
  margin: 0px;
  padding: 0px;
}

ul.gray_txt16 li {
  list-style-type: none;
  line-height: 40px;
  text-decoration: none;
  font-family: RobotoDraft, Roboto, "Helvetica Neue", "Segoe UI", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #959595;
}

ul.gray_txt16 li i {
  padding-right: 5px;
}

ul.gray_txt16 li a {
  text-decoration: none;
  font-family: RobotoDraft, Roboto, "Helvetica Neue", "Segoe UI", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #959595;
}

ul.gray_txt16 li a:hover {
  color: #000;
}

.white_btn_area {
  margin: 0 0 30px;
  padding: 0px;
}

.call_white_btn_area {
  margin: 0 0 10px 0;
  padding: 0px;
  position: relative;
}

a.btn_white {
  background: #fff;
  border: 1px solid #dee1e4;
  font-family: RobotoDraft, Roboto, "Helvetica Neue", "Segoe UI", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #959595;
  display: inline-block;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.call_white_btn_area .left_txt_set {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  text-align: left;
  width: 60px;
  font-family: RobotoDraft, Roboto, "Helvetica Neue", "Segoe UI", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #959595;
  cursor: pointer;
  text-transform: uppercase;
  padding: 20px;
}

.thanks_area {
  background: #16a085;
  text-align: center;
}

.thanks_area h2 {
  margin: 10px 0;
  font-family: RobotoDraft, Roboto, "Helvetica Neue", "Segoe UI", sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

.thanks_area p {
  font-family: RobotoDraft, Roboto, "Helvetica Neue", "Segoe UI", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  line-height: 40px;
}

.thanks_area p span {
  display: block;
}

.shipments_main_area {
  margin: 0;
  padding: 0;
}

.shipments_head_area {
  margin: 0px;
  padding: 0px;
}

.shipments_head_area .shipments_head_code {
  font-family: RobotoDraft, Roboto, "Helvetica Neue", "Segoe UI", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #2ad078;
  text-transform: uppercase;
  margin: 15px 0;
}

.shipments_head_area .shipments_flight_code {
  font-family: RobotoDraft, Roboto, "Helvetica Neue", "Segoe UI", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  text-align: right;
  margin: 15px 0;
}

.shipments_head_area .shipments_flight_code .green_circle {
  background: #2ad078;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  border-radius: 100%;
  font-size: 24px;
  color: #fff;
  vertical-align: middle;
  margin-left: 5px;
}

.shipments_body_area {
  margin: 0px;
  padding: 0px;, border: none;
}

.shipments_body_area .shipment_details_text {
  margin: 20px 0;
  padding: 0px;
  font-family: RobotoDraft, Roboto, "Helvetica Neue", "Segoe UI", sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: #989898;
  text-transform: uppercase;
}

.shipments_body_area .recent_update_text p {
  font-family: RobotoDraft, Roboto, "Helvetica Neue", "Segoe UI", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #989898;
  text-align: justify;
}

.shipments_body_area .recent_update_text p span {
  color: #2ad078;
}

.shipments_body_area .recent_update_text h3 {
  font-family: RobotoDraft, Roboto, "Helvetica Neue", "Segoe UI", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #2ad078;
}

.shipments_body_area .recent_update_text h4 {
  font-family: RobotoDraft, Roboto, "Helvetica Neue", "Segoe UI", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #2ad078;
  margin-top: 20px;
}

.date_round {
  background: #2ad078;
  width: 53px;
  height: 53px;
  text-align: center;
  display: inline-block;
  border-radius: 100%;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  line-height: 14px;
  padding: 6px 0;
  text-transform: uppercase;
  position: absolute;
  z-index: 1;
  left: -26px;
  top: 10px;
}

.date_round span {
  display: block;
}

.shipments_body_area .shipment_details_text > div {
  color: #3d3d3d;
  display: block;
}

.tags {
  width: 61px;
  height: 61px;
  position: absolute;
  z-index: 1;
  right: 0px;
  top: 0px;
}

.shipments_head_status {
  margin-left: 5px;
  padding: 0px;
  font-family: RobotoDraft, Roboto, "Helvetica Neue", "Segoe UI", sans-serif;
  text-transform: uppercase;

}

/*custom BR style start=================*/

